{% extends 'jefe/base.html' %}
{% load static %}

{% block content-jefe %}

<div class="main-content">
    <h1>Informe de Órdenes de Trabajo</h1>

    <br>
       
     <!-- Formulario de Filtros -->
     <form method="get" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="fecha_inicio">Fecha Inicio</label>
                <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" value="{{ fecha_inicio }}">
            </div>
            <div class="form-group col-md-3">
                <label for="fecha_fin">Fecha Fin</label>
                <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" value="{{ fecha_fin }}">
            </div>
            <div class="form-group col-md-3">
                <label for="estado">Estado</label>
                <select class="form-control" id="estado" name="estado">
                    <option value="">Todos</option>
                    <option value="pendiente" {% if estado == "pendiente" %}selected{% endif %}>Pendiente</option>
                    <option value="terminado" {% if estado == "terminado" %}selected{% endif %}>Terminado</option>
                    <option value="En Proceso" {% if estado == "En Proceso" %}selected{% endif %}>En Proceso</option>
                </select>
            </div>
            <div class="form-group col-md-3 align-self-end">
                <button type="submit" class="btn btn-primary btn-block">Filtrar</button>
            </div>
        </div>
    </form>

    <!-- Tabla de órdenes de trabajo -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha Inicio</th>
                <th>Fecha Entrega</th>
                <th>Estado</th>
                <th>Observación</th>
                <th>Reparaciones</th>
                <th>Precio Total</th>
                <th>Vehículo</th>
                <th>Mecánico</th>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenes %}
            <tr>
                <td>{{ orden.id }}</td>
                <td>{{ orden.fecha_inicio }}</td>
                <td>{{ orden.fecha_entrega|default:"No especificada" }}</td>
                <td>{{ orden.estado }}</td>
                <td>{{ orden.observacion }}</td>
                <td>
                    <ul>
                        {% for reparacion in orden.reparacion.all %}
                        <li>{{ reparacion.nombre }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>$ {{ orden.calcular_total|floatformat:0 }}</td>
                <td>{{ orden.vehiculo.patente }}</td>
                <td>{{ orden.usuario.first_name }} {{ orden.usuario.last_name }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <!-- Mostrar el total general -->
     <div class="alert alert-info">
        <strong>Total General:</strong> ${{ total_general|floatformat:0 }}
    </div>

    <!-- Paginación -->
    <div class="pagination">
        <ul class="pagination justify-content-center">
            {% if ordenes.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ ordenes.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link">Página {{ ordenes.number }} de {{ ordenes.paginator.num_pages }}</a>
            </li>

            {% if ordenes.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ ordenes.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ ordenes.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% if ordenes %}
        <!-- Tabla de Órdenes de Trabajo -->
        <table class="table table-striped">
            ...
        </table>
    {% else %}
        <p>No se encontraron órdenes de trabajo con los filtros seleccionados.</p>
    {% endif %}

    <br>

    <!-- Botón para generar PDF -->
    <a href="{% url 'generar_pdf' %}" class="btn btn-success mb-4">Descargar PDF</a>
</div>

{% endblock content-jefe %}
